


// pc端的设计px单位的样式个性化 写在媒体查询里不会被插件自动转化为vw，必须统一走下面的媒体查询
/* 媒体查询：平板电脑和桌面 */
@media (min-width: 768px) {
  .goods-list  {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    line-height: 1;
    text-align: left;
  }
  .goods-item  {
    border: 1px solid #E5E5E5;
    width: 200px;
    height: 240px;
    margin-right: 16px;
    margin-bottom: 16px;
    &:nth-child(6n) {
      margin-right: 0;
    }
    img{
      display: block;
    }
  }
}